<ion-footer [ngClass]="{ 'mt-auto p-4 flex flex-col': leftFooter ,  
  ' flex absolute bottom-8 justify-center gap-12' : !leftFooter }">

  <a routerLink="/privacyPolicy" [ngClass]="{'justify-center' : !leftFooter }" class="w-32 flex">
    <span class="text-lightGray hover:font-semibold hover:text-lightBlue font-inter">Privacy Policy</span>
  </a>
  <a routerLink="/legalnotice" [ngClass]="{'justify-center' : !leftFooter }" class="w-32 flex">
    <span class="text-lightGray hover:font-semibold hover:text-lightBlue font-inter">Legal notice</span>
  </a>
  
</ion-footer>