<ion-footer [ngClass]="leftFooter ? 'mt-auto p-4 flex flex-col' : 'flex absolute bottom-8 justify-center gap-12'">

  <a routerLink="/policy" [ngClass]="{'justify-center' : !leftFooter }" class="w-32 flex">
    <span class="text-lightGray hover:font-semibold hover:text-lightBlue font-inter transition-all">Privacy Policy</span>
  </a>
  <a routerLink="/legal" [ngClass]="{'justify-center' : !leftFooter }" class="w-32 flex">
    <span class="text-lightGray hover:font-semibold hover:text-lightBlue font-inter transition-all">Legal notice</span>
  </a>

</ion-footer>