.inputField {
    outline: none;
    box-sizing: border-box;
    display: flex;
    background: #ffffff;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    flex: none;
    cursor: pointer;
    font-family: "inter";
    font-size: 16px;
    --padding-start: 16px;
    --padding-end: 10px;
}

textarea {
    resize: vertical;
    outline: none;
    box-sizing: border-box;
    display: flex;
    padding: 13px 14px;
    background: #ffffff;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    flex: none;
    font-family: "inter";
    font-size: 16px;
    min-height: 160px;
    max-height: 300px;
    width: 100%;
}