<ion-grid class="flex items-center justify-center h-dvh ">

  <app-animated-badge *ngIf="isAnimation" [text]="isLogin ? 'Email was sucessfully send' : 'You Signed Up sucessfully' " class="h-dvh w-dvw absolute flex justify-center items-center bg-[#00000042] z-10"></app-animated-badge>

  <ion-row class="justify-center sm:w-1/2 sm:max-w-[506px]" >
    <ion-col>
      <div class="bg-white rounded-2xl shadow-smallShadow p-4 px-8 sm:p-8">

        <!-- Back button -->
        <div *ngIf="!isLogin || isForgotPassword" class="group cursor-pointer absolute top-8 sm:top-12">
          <ion-img (click)="emptyInputFields()" [routerLink]="['/login']"
            class="w-4 sm:w-6 transition duration-300 group-hover:filter group-hover:brightness-0"
            src="../../assets/img/back.svg"></ion-img>
        </div>

        <!-- Title -->
        <div class="flex justify-center items-center mb-2 min-h-700:mb-6">
          <b [ngClass]="{'sm:text-2xl lg:text-4xl' : isForgotPassword }" class="flex flex-col items-center text-2xl sm:text-3xl lg:text-5xl font-inter text-black">{{ isForgotPassword ? 'Forgot Password' : isLogin ? 'Log in' : 'Sign up' }}
            <div class="bg-lightBlue h-[0.1rem] w-4/5 min-h-700:mt-2 rounded-xl"></div>
          </b>
        </div>

        <form (ngSubmit)="onSubmit()" class="flex flex-col items-center space-y-5 min-h-700:space-y-8">
          <!-- Name input (only shown if not login) -->
          <app-auth-input-fields *ngIf="!isLogin && !isForgotPassword" (input)="helperService.EmptyErrorField(nameField)" #nameField class="w-full"
            [type]="'name'" [placeholder]="'Name'" [icon]="'user.svg'" [errorMessage]="errorMessage">
          </app-auth-input-fields>

          <!-- Email input -->
          <app-auth-input-fields (input)="helperService.EmptyErrorField(emailField)" #emailField class="w-full" [type]="'email'" 
          [placeholder]="'Email'" [icon]="'email.svg'">
          </app-auth-input-fields>

          <!-- Password input -->
          <app-auth-input-fields  *ngIf="!isForgotPassword" (input)="helperService.EmptyErrorField(passwordField)" #passwordField class="w-full"
            [type]="'password'" [placeholder]="'Password'" [isPasswordField]="true">
          </app-auth-input-fields>

          <!-- Confirm Password input (only shown if not login) -->
          <app-auth-input-fields *ngIf="!isLogin" (input)="helperService.EmptyErrorField(confirmPasswordField)" #confirmPasswordField
            class="w-full" [type]="'password'" [placeholder]="'Confirm Password'" [isPasswordField]="true">
          </app-auth-input-fields>

          <!-- Remember Me & Forgot Password -->
          <div *ngIf="!isForgotPassword" class="flex justify-around w-full items-center font-inter flex-col lg:flex-row gap-4 lg:gap-0">
            <app-auth-checkbox *ngIf="isLogin" #rememberMeCheckbox [text]="'Remember me'"></app-auth-checkbox>

            <a *ngIf="isLogin" class="text-lightBlue hover:underline" (click)="this.isForgotPassword = true;">Forgot my password</a>

            <app-auth-checkbox *ngIf="!isLogin" (ionChange)="helperService.EmptyErrorField(privacyCheckbox)" #privacyCheckbox
              [text]="'I accept the'" [linkText]="'Privacy policy'" [link]="'/policy'">
            </app-auth-checkbox>
          </div>

          <!-- Buttons -->
          <div class="flex items-center justify-around w-full mt-4 flex-col sm:flex-row">
            <app-button-filled [disabled]="isLoading" [isLoading]="isLoading" [text]=" isForgotPassword ? 'Reset password' : isLogin ? 'Login' : 'Sign Up'" [ngClass]="isForgotPassword ? 'w-full lg:w-[unset]' : isLogin ? 'sm:w-[36%]' : 'w-full lg:w-[36%]'" class="w-full"></app-button-filled>
            <app-button-edge [disabled]="isLoading" *ngIf="isLogin && !isForgotPassword" [text]="'Guest Log in'" (click)="onGuestLogin()" class="w-full sm:w-[unset]"></app-button-edge>
          </div>
        </form>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>