<ion-grid class="flex items-center justify-center h-dvh ">
  <ion-row class="justify-center">
    <ion-col size-lg="20">
      <div class="bg-white rounded-2xl shadow-smallShadow p-8">

        <!-- Back button -->
        <div *ngIf="!isLogin" class="group cursor-pointer absolute">
          <ion-img (click)="EmptyInputFields()" [routerLink]="['/login']"
            class="w-6 transition duration-300 group-hover:filter group-hover:brightness-0"
            src="../../assets/img/back.svg"></ion-img>
        </div>

        <!-- Title -->
        <div class="flex justify-center items-center mb-6 ">
          <b class="flex flex-col items-center text-5xl font-inter text-black">{{ isLogin ? 'Log in' : 'Sign up' }}
            <div class="bg-lightBlue h-[0.1rem] w-4/5 mt-2 rounded-xl"></div>
          </b>
        </div>

        <form (ngSubmit)="onSubmit()" class="flex flex-col items-center space-y-8">
          <!-- Name input (only shown if not login) -->
          <app-auth-input-fields *ngIf="!isLogin" (input)="EmptyErrorField(nameField)" #nameField class="w-full"
            [type]="'name'" [placeholder]="'Name'" [icon]="'user.svg'"
            [errorMessage]="errorMessage"></app-auth-input-fields>

          <!-- Email input -->
          <app-auth-input-fields (input)="EmptyErrorField(emailField)" #emailField name="email" class="w-full"
            [type]="'email'" [placeholder]="'Email'" [icon]="'email.svg'"></app-auth-input-fields>


          <!-- Password input -->
          <app-auth-input-fields (input)="EmptyErrorField(passwordField)" #passwordField class="w-full"
            [type]="'password'" [placeholder]="'Password'" [isPasswordField]="true"></app-auth-input-fields>

          <!-- Confirm Password input (only shown if not login) -->
          <app-auth-input-fields *ngIf="!isLogin" (input)="EmptyErrorField(confirmPasswordField)" #confirmPasswordField
            class="w-full" [type]="'password'" [placeholder]="'Confirm Password'"
            [isPasswordField]="true"></app-auth-input-fields>

          <!-- Remember Me & Forgot Password -->
          <div class="flex justify-around w-full items-center font-inter">
            <app-auth-checkbox *ngIf="isLogin" [text]="'Remember me'"></app-auth-checkbox>
            <a *ngIf="isLogin" href="" class="text-lightBlue hover:underline">Forgot my password</a>
            <app-auth-checkbox *ngIf="!isLogin" (ionChange)="EmptyErrorField(privacyCheckbox)" #privacyCheckbox
              [text]="'I accept the'" [linkText]="'Privacy policy'" [link]="'/privacy-policy'"></app-auth-checkbox>
          </div>

          <!-- Buttons -->
          <div class="flex items-center justify-around w-full mt-4">
            <app-button-filled [text]=" isLogin ? 'Login' : 'Sign Up'"></app-button-filled>
            <app-button-edge *ngIf="isLogin" [text]="'Guest Log in'"></app-button-edge>
          </div>
        </form>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>