<ion-grid class="flex items-center justify-center h-dvh ">
  <ion-row class="justify-center">
    <ion-col size-lg="20">
      <div class="bg-white rounded-2xl shadow-smallShadow p-8">

        <!-- Back button -->
        <div *ngIf="!isLogin" class="group cursor-pointer absolute">
          <ion-img [routerLink]="['/login']"
            class="w-6 transition duration-300 group-hover:filter group-hover:brightness-0"
            src="../../assets/img/back.svg"></ion-img>
        </div>

        <!-- Title -->
        <div class="flex justify-center items-center mb-6 ">
          <b class="flex flex-col items-center text-5xl font-inter text-black">{{ isLogin ? 'Log in' : 'Sign up' }}
            <div class="bg-lightBlue h-[0.1rem] w-4/5 mt-2 rounded-xl"></div>
          </b>
        </div>

        <form class="flex flex-col items-center space-y-8">
          <!-- Name input -->
          <app-auth-input-fields *ngIf="!isLogin" class="w-full" [type]="'name'" [placeholder]="'Name'"
            [required]="true" [icon]="'user.svg'">
          </app-auth-input-fields>

          <!-- Email input -->
          <app-auth-input-fields class="w-full" [type]="'email'" [placeholder]="'Email'" [required]="true"
            [icon]="'email.svg'">
          </app-auth-input-fields>

          <!-- Password input -->
          <app-auth-input-fields class="w-full" [type]="'password'" [placeholder]="'Password'" [required]="true"
            [isPasswordField]="true">
          </app-auth-input-fields>

          <!-- Confirm Password input -->
          <app-auth-input-fields *ngIf="!isLogin" class="w-full" [type]="'password'" [placeholder]="'Confirm Password'"
            [required]="true" [isPasswordField]="true">
          </app-auth-input-fields>

          <!-- Remember Me & Forgot Password -->
          <div class="flex justify-around w-full items-center font-inter">
            <app-auth-checkbox *ngIf="isLogin" [text]="'Remember me'"></app-auth-checkbox>
            <app-auth-checkbox *ngIf="!isLogin" [text]="'I accept the'" [linkText]="'Privacy policy'" [link]="'/privacy-policy'" ></app-auth-checkbox>
            <a *ngIf="isLogin" href="" class="text-lightBlue hover:underline">Forgot my password</a>
          </div>

          <!-- Buttons -->
          <div class="flex items-center justify-around w-full mt-4">
            <ion-button
              class=" flex border-2 px-6 border-[#2A3647] hover:border-[#29ABE2]  font-bold   items-center bg-darkBlue   text-white rounded-md   text-sm hover:bg-lightBlue hover:shadow-lightShadow  ">
              {{ isLogin ? 'Login' : 'Sign Up' }}
            </ion-button>
            <ion-button *ngIf="isLogin"
              class=" flex border-2 px-2 h-12 border-[#2A3647] hover:border-[#29ABE2] font-inter  font-bold  items-center bg-white   text-darkBlue hover:text-lightBlue rounded-md     hover:shadow-lightShadow  ">
              Guest Log in
            </ion-button>
          </div>
        </form>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>