<a [routerLink]="link" class="flex p-[0.125rem] max-w-20 h-12 lg:p-0 lg:max-w-[unset] lg:h-[unset] lg:w-full">
  <div [ngClass]="active?'bg-darkBlue' : 'hover:bg-menuHoverBlue'"  
    class="min-w-max w-[80px] py-2 flex flex-col gap-1 lg:gap-3 font-inter justify-center items-center rounded-lg lg:justify-normal lg:flex-row lg:rounded-none lg:w-full lg:min-w-[unset] lg:pl-6 xl:pl-16 transition-all">
    <ion-img class="w-4 lg:w-7" src="../../../assets/img/{{icon}}"></ion-img>
    <span class="text-xs text-nowrap lg:text-base">{{text}}</span>
  </div>
</a>