<ion-button type="submit" [disabled]="disabled" (click)="onConfirm()"
  [ngClass]="{'shadow-overviewShadowHover rounded-full h-14 w-14' : roundButton}"
  class="transition-all font-inter text-nowrap h-10 flex border-2 rounded-[10px] font-bold items-center border-normalBlue hover:border-lightBlue bg-normalBlue hover:bg-lightBlue active:bg-darkBlue active:border-darkBlue hover:shadow-lightShadow">
  {{ isLoading ? '' : text }}
  <ion-spinner name="bubbles" *ngIf="isLoading"></ion-spinner>
  <ion-icon *ngIf="iconName && !isLoading" name="{{iconName}}" [ngClass]="text ?'ml-3':'ml-0'" class=" text-2xl"></ion-icon>
</ion-button>