<ion-content [fullscreen]="true" scroll-y="false">
  <div class="main-content lg:ml-44 xl:ml-60 bg-whiteSmoke flex flex-col h-dvh overflow-hidden">
    <app-header class="z-[11]" [currentUser]="currentUser"></app-header>
    <app-sidebar class="fixed bottom-0 left-0 right-0 lg:bottom-[unset] lg:left-[unset] lg:right-[unset] lg:static z-10"></app-sidebar>

    <div class="flex flex-grow bg-whiteSmoke">
      <div class="w-full lg:w-[29%] lg:min-w-[29%] 1xl:w-[29%] 2xl:max-w-[20%] 2xl:min-w-[unset] bg-white flex flex-col pt-4 lg:pt-0 pb-4 px-4 xl:px-8 shadow-rightShadow h-[calc(100vh-10rem)] lg:h-[calc(100vh-6rem)] overflow-y-auto">
        <div class="hidden lg:block sticky top-0 bg-white py-4 border-0">
          <app-button-filled class="w-full" [text]="'Add new contact'" [iconName]="'person-add-outline'" (click)="onOpenAddContact()"></app-button-filled>
        </div>

        <app-button-filled class="fixed bottom-24 right-6 lg:hidden" [roundButton]="true" [iconName]="'person-add-outline'" (click)="onOpenAddContact()"></app-button-filled>

        <div *ngFor="let contacts of groupedContacts | keyvalue" class="flex flex-col">
          <span class="font-semibold text-xl border-b w-full flex pt-2 px-9">{{ contacts.key }}</span>
          <div *ngFor="let contact of contacts.value" class="pt-2" (click)="selectContact(contact)">
            <app-contact-item [contact]="contact" [selectedContact]="selectedContact"></app-contact-item>
          </div>
        </div>
      </div>
      
      <div *ngIf="selectedContact" class="absolute z-[9] lg:static bg-whiteSmoke w-full lg:h-[unset] lg:bg-[unset] h-[calc(100vh-10rem)] overflow-auto lg:flex flex-col p-4 lg:pt-20 lg:gap-14 font-inter xl:px-20">
        <div class="group cursor-pointer lg:hidden">
          <ion-img (click)="selectedContact = null" class="absolute w-6 right-6 top-6"
            src="../../assets/img/back.svg"></ion-img>
        </div>
        <app-page-title class="flex" [title]="'Contacts'" [text]="'Better with a team'"></app-page-title>
        <app-contact-overview class="slide"  [selectedContact]="selectedContact" (triggerDialog)="onOpenDialog($event)" (handleContact)="handleContact($event)"></app-contact-overview>
      </div>

    </div>
  </div>
</ion-content>
 
<app-contact-card *ngIf="isContactCardOpen" (closeCard)="onContactCreated($event)" (deleteContact)="handleContact($event)" [isEditContact]="isEditContact" [contact]="selectedContact!"></app-contact-card>

<app-animated-badge *ngIf="isAnimation" [text]="'Contact was successfully created'" class="h-dvh w-dvw absolute flex justify-center items-center bg-[#00000042] z-20 left-0 top-0"></app-animated-badge>

<app-dialog *ngIf="isDialog" [dialogMessage]="{title:'Delete contact', message:'You are sure to delete this contact?'}" (confirm)="onDeleteContact(selectedContact!)" (cancel)="isDialog = false"></app-dialog>
