<div class="px-4 sm:px-14 py-7 flex flex-col gap-8 font-inter">
    <div class="flex items-center justify-between flex-1">
        <span [ngStyle]="{ 'background-color': category?.color }"
            class="font-medium p-1 px-4 rounded-lg w-max text-white">
            {{ category?.name }}
        </span>

        <ion-icon class="cursor-pointer text-4xl rounded-full hover:bg-smokeGray border-0" name="close-outline"
            (click)="onCloseCard()">
        </ion-icon>
    </div>

    <div class="flex items-center">
        <span class="font-bold text-3xl">{{task?.title}}</span>
    </div>

    <div *ngIf="task?.description" class="flex items-center">
        <span>{{task?.description}}</span>
    </div>

    <div class="flex items-center justify-between lg:justify-normal">
        <span class="w-1/4 min-w-max text-titleActiveBlue">Due date: </span>
        <span class="w-1/4 min-w-max">{{ task?.dueDate | date: 'dd/MM/yyyy' }}</span>
    </div>

    <div class="flex items-center justify-between lg:justify-normal">
        <span class="w-1/4 text-nowrap text-titleActiveBlue">Priority: </span>
        <div class="w-1/4 flex gap-2">
            <span class="capitalize">{{task?.prio}}</span>
            <img src="../../../assets/img/prio-{{task?.prio}}.svg" alt="">
        </div>
    </div>

    <div class="flex flex-col gap-2">
        <ng-container *ngIf="task?.assignedTo?.length">
            <span class="text-titleActiveBlue">Assigned To:</span>
            <div *ngFor="let contact of task?.assignedTo" class="flex items-center gap-4">
                <app-user-bubble [color]="contact.color" [text]="contact.initials"
                    [borderColor]="'whiteSmoke'"></app-user-bubble>
                <span>{{ contact.name }}</span>
            </div>
        </ng-container>
        <ng-container *ngIf="!task?.assignedTo?.length">
            <span>No contacts assigned</span>
        </ng-container>
    </div>

    <div class="flex flex-col gap-2">
        <ng-container *ngIf="task?.subtasks?.length">
            <div class="text-titleActiveBlue">Subtasks</div>
            <div *ngFor="let subtask of task?.subtasks;let i = index"
                class="flex items-center gap-2 hover:bg-slate-400 rounded-lg p-1 transition-all">
                <ion-checkbox [checked]="subtask.done" (ionChange)="onSubtaskStatusChange(i, $event)"
                    class="scale-75"></ion-checkbox>
                <div class="flex justify-center items-center capitalize">
                    {{ subtask.title }}
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="!task?.subtasks?.length">
            <span>No subtasks assigned</span>
        </ng-container>
    </div>

    <div class="lg:hidden">
        Task status:
        <ion-input class="inputField cursor-pointer z-10" (click)="toggleDropdown()" [placeholder]="selectedItem">
            <ion-icon *ngIf="!isDropdownOpen" name="chevron-down-outline" slot="end"
                (click)="toggleDropdown()"></ion-icon>
            <ion-icon *ngIf="isDropdownOpen" name="chevron-up-outline" slot="end" (click)="toggleDropdown()"></ion-icon>
        </ion-input>

        <!-- Dropdown List -->
        <div *ngIf="isDropdownOpen" class="bg-white border border-gray-300 rounded-b-lg max-h-40 overflow-auto -mt-2">
            <div class="px-4 flex-col p-1 last:pb-1 first:pt-3 flex gap-3 cursor-pointer hover:bg-slate-500 group " *ngFor="let item of statusItem">

                <ion-label class="text-gray-700 group-hover:text-white " (click)="onSelectNewStatus(item)">
                    {{ item }}
                </ion-label>

            </div>
        </div>
    </div>

    <div class="flex items-center gap-4 text-titleActiveBlue justify-end">
        <div (click)="isDialog = true"
            class="flex items-center cursor-pointer justify-center gap-1 hover:text-lightBlue hover:scale-105 max-w-20 max-h-12">
            <ion-icon name="trash-outline"></ion-icon>
            Delete
        </div>
        <div class="flex border h-6 bg-titleActiveBlue"></div>
        <div (click)="onEditTask()"
            class="flex items-center cursor-pointer justify-center gap-1 hover:text-lightBlue hover:scale-105 max-w-20 max-h-12">
            <ion-icon name="pencil-outline"></ion-icon>
            Edit
        </div>
    </div>

</div>

<app-dialog *ngIf="isDialog" [dialogMessage]="{title: 'Delete Task?', message:'Are you sure to want delete this task?'}"
    (cancel)="isDialog = false" (confirm)="onDeleteTask()"></app-dialog>