<div class="rounded-lg transition " [ngClass]="{'bg-[#778899]': isDragOver}">
  <app-big-title class="lg:hidden" 
    [title]="title" 
    [icon]="icon" 
    [status]="status" 
    (openAddTask)="onOpenAddTask()">
  </app-big-title>

  <div cdkDropList class="flex gap-4 lg:gap-8 scrollbar-hide px-2 xl:px-3 pt-5 pb-8 overflow-x-auto w-full lg:w-[unset] lg:overflow-x-hidden lg:flex-col"
    [id]="status" 
    [cdkDropListData]="tasks"
    [cdkDropListConnectedTo]="connectedDropLists"
    (cdkDropListDropped)="drop($event)"
    (cdkDropListEntered)="onDragEnter()"
    (cdkDropListExited)="onDragExit()">
    
    <app-big-title class="hidden lg:block" 
      [title]="title" 
      [icon]="icon" 
      [status]="status"
      (openAddTask)="onOpenAddTask()">
    </app-big-title>

    <div *ngFor="let task of tasks; let i = index" cdkDrag [cdkDragStartDelay]="{ touch: 200, mouse: 0 }">
      <!-- Draggin Taskcard -->
      <ng-template cdkDragPreview class="w-full">
        <div class="p-2 w-96">
          <app-task-card 
            [task]="task" 
            class="bg-white flex flex-col justify-between shadow-taskShadow p-3 xl:p-4 border-0 rounded-3xl min-h-72 w-56 lg:w-[unset]">
          </app-task-card>
        </div>
      </ng-template>
      <!-- Original Taskcard -->
      <app-task-card 
        [task]="task" 
        (click)="onOpenTaskCard(task)"
        class="bg-white flex flex-col justify-between shadow-taskShadow p-3 xl:p-4 border-0 rounded-3xl cursor-pointer min-h-72 w-56 lg:w-[unset]">
      </app-task-card>
    </div>

    <div *ngIf="!tasks.length && !isDragOver"
      class="rounded-lg p-4 border-dashed border-2 text-center border-lightGray bg-[#E7E7E7] text-lightGray text-nowrap w-full">
      No tasks {{title}}
    </div>
  </div>
</div>