<ion-content [fullscreen]="true">
  <div class="main-content ml-60 h-dvh bg-whiteSmoke">
    <app-header [currentUser]="currentUser"></app-header>
    <app-sidebar></app-sidebar>
    <div class="flex-grow flex flex-col p-4 px-20 pt-20 gap-14 font-inter">
      <span class="font-bold text-6xl">Board</span>
      <div class="flex gap-14 flex-grow">
        <ion-grid>
          <ion-row class="flex flex-col">
            <div class="flex 2xl:gap-32 gap-14 flex-grow">
              <!-- todo -->
              <app-board-section (taskDropped)="onTaskDragStart($event)" [attr.data-status]="'todo'" [tasks]="todoTasks" [status]="'todo'" [icon]="'titlePlus.svg'" [title]="'To do'" class="w-full"></app-board-section> 
              <!-- in progress -->
              <app-board-section (taskDropped)="onTaskDragStart($event)" [attr.data-status]="'inProgress'" [tasks]="inProgressTasks" [status]="'inProgress'" [icon]="'titlePlus.svg'" [title]="'In progress'" class="w-full"></app-board-section> 
              <!-- awaitFeedbackTasks --> 
              <app-board-section (taskDropped)="onTaskDragStart($event)" [attr.data-status]="'awaitFeedback'" [tasks]="awaitFeedbackTasks" [status]="'awaitFeedback'" [icon]="'titlePlus.svg'" [title]="'Await feedback'" class="w-full"></app-board-section> 
              <!-- doneTasks -->
              <app-board-section (taskDropped)="onTaskDragStart($event)" [attr.data-status]="'done'" [tasks]="doneTasks" [status]="'done'" [title]="'Done'" class="w-full"></app-board-section> 
            </div>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
</ion-content>