<ion-content [fullscreen]="true">
  <div class="main-content h-dvh bg-whiteSmoke lg:ml-60">
    <app-header [currentUser]="currentUser"></app-header>
    <app-sidebar class="fixed bottom-0 left-0 right-0 lg:bottom-[unset] lg:left-[unset] lg:right-[unset] lg:static z-20"></app-sidebar>
    <div class="flex-grow flex flex-col p-4 font-inter relative pb-24 bg-whiteSmoke pt-10 gap-10 lg:gap-14 lg:pt-20 xl:px-20 ">
      <div class="flex items-center justify-between">
        <app-page-title [title]="'Board'"></app-page-title>
        <div class="flex items-center gap-8">
          <app-search-input-field class="hidden lg:flex" [placeholder]="'Find a Task'" (input)="onSearch($event)"></app-search-input-field>
          <app-button-filled class="hidden lg:flex" [text]="'Add Task'" [iconName]="'add-outline'" (click)="isAddTaskOpen = true"></app-button-filled>
          <app-button-filled class="flex lg:hidden" [iconName]="'add-outline'" (click)="isAddTaskOpen = true"></app-button-filled>
        </div>
      </div>
      <app-search-input-field class="flex lg:hidden" [placeholder]="'Find a Task'" (input)="onSearch($event)"></app-search-input-field>
      <div class="flex gap-14 flex-col lg:flex-grow">
            <div class="flex gap-0 2xl:gap-8 flex-col lg:flex-row lg:flex-grow">
              <!-- todo -->
              <app-board-section 
              (taskDropped)="onTaskDragStart($event)" 
              (openAddTask)="openAddTask($event)"
              (openTaskCard)="openTaskCard($event)"
                [attr.data-status]="'todo'" 
                [tasks]="todoTasks" 
                [status]="'todo'" 
                [icon]="'titlePlus'"
                [title]="'To do'" 
                class="w-full">
              </app-board-section>
              <!-- in progress -->
              <app-board-section 
                (taskDropped)="onTaskDragStart($event)"
                (openAddTask)="openAddTask($event)"
                (openTaskCard)="openTaskCard($event)"
                [attr.data-status]="'inProgress'"
                [tasks]="inProgressTasks" 
                [status]="'inProgress'"
                [icon]="'titlePlus'" 
                [title]="'In progress'" 
                class="w-full">
              </app-board-section>
              <!-- awaitFeedbackTasks -->
              <app-board-section
                (taskDropped)="onTaskDragStart($event)" 
                (openAddTask)="openAddTask($event)"
                (openTaskCard)="openTaskCard($event)"
                [attr.data-status]="'awaitFeedback'" 
                [tasks]="awaitFeedbackTasks" 
                [status]="'awaitFeedback'"
                [icon]="'titlePlus'" 
                [title]="'Await feedback'" 
                class="w-full">
              </app-board-section>
              <!-- doneTasks -->
              <app-board-section 
                (taskDropped)="onTaskDragStart($event)"
                (openAddTask)="openAddTask($event)"
                (openTaskCard)="openTaskCard($event)"
                [attr.data-status]="'done'" 
                [tasks]="doneTasks" 
                [status]="'done'" 
                [title]="'Done'"
                class="w-full">
              </app-board-section>
            </div>
      </div>
    </div>
  </div>
  <div *ngIf="isAddTaskOpen || isTaskOverviewOpen" class="fixed flex w-dvw h-dvh justify-center items-center top-0 left-0 right-0 bg-[#00000080] z-[11]">
    <div *ngIf="isTaskOverviewOpen" class="absolute z-[12] bg-whiteSmoke sm:rounded-3xl shadow-taskShadow overflow-auto h-full pb-20 lg:pb-0 w-full md:w-[90%] sm:h-5/6 lg:h-auto lg:w-[80%] 1xl:w-2/5">
      <app-task-card-overview [task]="currentOpenedTask" (editTask)="editTask()" (isCardOpen)="isTaskOverviewOpen = false"></app-task-card-overview>
    </div>
    <div *ngIf="isAddTaskOpen" class="absolute z-[12] bg-whiteSmoke sm:rounded-3xl shadow-taskShadow overflow-auto h-full pb-4 md:w-[90%] sm:h-5/6 lg:h-auto "
    >
      <app-task-card-add 
      (isCardOpen)="closeAddTask()" 
      [currentUser]="currentUser" 
      [subtasks]="subtasks"
      [taskStatus]="taskStatus" 
      [contacts]="contacts"
      [isCard]="true" 
      [isEditTask]="isEditTask"
      [editTask]="currentOpenedTask"
      class="flex-grow flex flex-col">
      </app-task-card-add>
    </div>
  </div>
</ion-content>
 