<div class="flex-grow flex flex-col gap-10 lg:gap-14 font-inter" [ngClass]="isCard ? 'p-4 sm:p-14' :'pb-24 p-4 pt-[136px] xl:px-20  lg:pt-20 bg-whiteSmoke'">

<app-page-title *ngIf="!isEditTask" [title]="'Add Task'"></app-page-title> 
<app-page-title *ngIf="isEditTask" [title]="'Edit Task'"></app-page-title> 
<ion-icon *ngIf="isCard" [ngClass]="{ 'top-6': isEditTask }" class="absolute right-20 cursor-pointer text-4xl rounded-full hover:bg-smokeGray border-0" name="close-outline" (click)="onCloseCard()"></ion-icon>

<div class="flex gap-14 flex-grow">
  <ion-grid class="p-0">
    <ion-row class="flex flex-col lg:w-full " [ngClass]="{ 'w-full lg:w-4/6 max-2xl:w-full 1xl:w-4/6': !isCard }">
      <div class="flex flex-col lg:flex-grow lg:flex-row" [ngClass]="isEditTask ? 'flex-col gap-8' : 'gap-4 lg:gap-6 2xl:gap-16'">
        <!-- Left side -->
        <div class="w-full flex flex-col gap-6 lg:gap-8">
          <!-- Task Title -->
          <app-default-input-field [editValueMode]="currentTask.title" [fieldRequired]="true" [label]="'Title'" [placeholder]="'Enter a title'" [resetTrigger]="resetTrigger" [errorMessage]="isError.title" (outputValue)="setTaskData($event, 'title')"></app-default-input-field>
          <!-- Description -->
          <app-default-input-field [editValueMode]="currentTask.description" [label]="'Description'" [type]="'textarea'" [placeholder]="'Enter a description'" [resetTrigger]="resetTrigger" (outputValue)="setTaskData($event, 'description')"></app-default-input-field>
          <!-- Assigned to -->
          <app-dropdown-input-field-multi-select [preselectedItems]="currentTask.assignedTo" [label]="'Assigned to'" [items]="contacts" [placeholder]="'Select contacts to assign'" (selectedItemsChange)="onDisplayedBubble($event, 'assignedTo')"></app-dropdown-input-field-multi-select>
          <!-- Assigned Bubble -->
          <div class="flex flex-wrap gap-4" >
            <div *ngFor="let item of selectedBubble">
              <app-user-bubble [color]="item.color" [text]="item.initials" [size]="'48px'" [borderWidth]="'3px'" [borderColor]="'white'"></app-user-bubble>
            </div>
          </div>
        </div>
        <!-- Middle Line -->
        <div class="bg-[#D1D1D1] rounded-full min-h-full w-[2px] hidden lg:flex"></div>
        <!-- Right side -->
        <div class="w-full flex flex-col gap-6 lg:gap-8">
          <app-default-input-field [editValueMode]="currentTask.dueDate" [fieldRequired]="true" [label]="'Due date'" [type]="'date'" [resetTrigger]="resetTrigger" [errorMessage]="isError.dueDate" (outputValue)="setTaskData($event, 'dueDate')"></app-default-input-field>
          <!-- Prio -->
          <div>
            <ion-label position="floating font-medium w-full">Prio</ion-label>
            <div class="flex gap-4">
              <app-prio-button [text]="'Urgent'" [icon]="'prio-urgent'" [isActive]="isButtonActive('urgent')" (click)="setActiveButton('urgent')" [color]="'#FF3D00'" class="w-full"></app-prio-button>
              <app-prio-button [text]="'Medium'" [icon]="'prio-medium'" [isActive]="isButtonActive('medium')" (click)="setActiveButton('medium')" [color]="'#FFA800'" class="w-full"></app-prio-button>
              <app-prio-button [text]="'Low'" [icon]="'prio-low'" [isActive]="isButtonActive('low')" (click)="setActiveButton('low')" [color]="'#7AE229'" class="w-full"></app-prio-button>
            </div>
          </div>
          <!-- Category -->
          <app-dropdown-input-field-single-select [preselectedItems]="currentTask.category" [label]="'Category'" [items]="categories" [fieldRequired]="true" [placeholder]="'Select task category'" [resetTrigger]="resetTrigger" [errorMessage]="isError.category" (selectedItemsChange)="setTaskData($event, 'category')"></app-dropdown-input-field-single-select>
          <!-- Subtasks -->
          <app-creator-input-field (selectedData)="onDisplayedSubtask($event)" [subtasks]="subtasks" [fieldRequired]="false" [label]="'Subtasks'" [placeholder]="'Add new subtask'"></app-creator-input-field>
          <div class="-mt-6">
            <app-subtask-list [subtasks]="subtasks"></app-subtask-list>
          </div>
        </div>
      </div>
    </ion-row>
  </ion-grid>
</div>
<!-- Bottom section with buttons and required field -->
<div class="flex justify-between items-center font-inter pb-3 lg:w-full" [ngClass]="{ 'w-full lg:w-4/6 max-2xl:w-full 1xl:w-4/6': !isCard }">
  <ion-col size="12" size="6" class="text-xs md:text-base">
    <span class="text-lightRed">*</span> This field is required
  </ion-col>
  <ion-col size="12" size="6">
    <div *ngIf="!isEditTask" class="flex justify-end gap-4">
      <app-button-edge [text]="'Clear'" [iconName]="'close-outline'" (click)="onOpenDialog('clear')" class="hidden md:flex"></app-button-edge>
      <app-button-filled [disabled]="isLoading" [isLoading]="isLoading" [text]="'Create Task'" [iconName]="'checkmark-outline'" (confirm)="onOpenDialog('create')" class="w-full md:w-[unset]"></app-button-filled>
    </div>
    <div *ngIf="isEditTask" class="flex justify-end">
      <app-button-filled [text]="'Ok'" [iconName]="'checkmark-outline'" (click)="onOpenDialog('edit')"></app-button-filled>
    </div>
  </ion-col>
</div> 
</div>

<app-dialog *ngIf="isDialog" [dialogMessage]="dialogMessage" (cancel)="isDialog = false" (confirm)="dialogMessage.action == 'clear' ? clearTask() : dialogMessage.action == 'create' ? onCreateTask(true) : onCreateTask(false)"></app-dialog>