@keyframes fadeOut {
    0% {
        background-color: whitesmoke;
    }

    100% {
        background-color: transparent;
    }
}


.fade-out-background {
    animation: fadeOut 1s forwards ease-in-out;
}


@keyframes logoMove {
    0% {
        transform: translate(-50%, -50%) scale(3);
        top: 50%;
        left: 50%;
    }

    100% {
        transform: translate(0, 0) scale(1);
        top: 16px;
        left: 16px;
    }
}


.initial-logo {
    padding: 69px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(3);
    animation: logoMove 1.25s forwards ease-in-out;
}


.logo-transition {
    position: absolute;
    top: 16px;
    left: 16px; 
}