<ion-grid class="h-dvh absolute w-dvw">
  <ion-row class="p-16">
    <ion-col size="12" size-md="6">
    </ion-col>
    <ion-col *ngIf="isLogin" size="12" class="flex items-center absolute justify-evenly left-0 top-2 min-h-700:top-[unset] min-h-700:bottom-20 lg:justify-end lg:gap-20 lg:static">
      <span class="xs:flex min-h-700:flex hidden">
        <b class="font-inter">Not a Join user?</b>
      </span>
      <app-button-filled [routerLink]="['/sign-up']" [text]="'Sign Up'"></app-button-filled>
    </ion-col>
  </ion-row>
</ion-grid>

<a 
  [ngClass]="isLogin && !isAnimationComplete ? 'fade-out-background absolute h-dvh z-20 w-dvw':''"
  [href]="isAnimationComplete ? 'login' : null" 
  [style.pointer-events]="isAnimationComplete ? 'auto' : 'none'"
  >
  <ion-img class="absolute w-10 sm:w-16 sm:m-3 lg:w-[unset] lg:m-12" [ngClass]="{ 'initial-logo lg:top-1/2 lg:left-1/2': isLogin }" src="../../assets/img/logo.svg" (animationend)="onAnimationEnd()"></ion-img>
</a>