<div class="absolute flex w-dvw h-dvh justify-center items-center top-0 left-0 right-0 bg-[#00000080] z-[11]">
  <div
    class="absolute z-[12] bg-whiteSmoke rounded-3xl shadow-taskShadow w-2/5 max-2xl:w-2/3 font-inter p-4 flex flex-col gap-4">

    <span class="font-bold text-3xl flex justify-center">{{dialogMessage.title}}</span>

    <span  [ngClass]="{'text-center' : !isSingUpSection }" class="font-medium">{{dialogMessage.message}}</span>

    <div *ngIf="isSingUpSection" class="flex items-center justify-center gap-4">
      <app-auth-checkbox [text]="'Dont show again !'" (checkedChange)="onCheckboxChange($event)"> </app-auth-checkbox>
      <app-button-filled [text]="'Understood !'" (click)="onConfirm()"></app-button-filled>
    </div>

    <div *ngIf="!isSingUpSection" class="flex items-center justify-center gap-4">
      <app-button-filled [text]="'Yes'" (click)="onConfirm()"></app-button-filled>
      <app-button-edge [text]="'Cancel'" (click)="onCancel()"></app-button-edge>
    </div>

  </div>
</div>